*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
	display: flex;
	justify-content: space-around;
}

form{
	display: flex;
	flex-direction: column;
	width: 50%;
}

input{
	border-radius: 10px;
	height: 3vh;
	margin-bottom: 10px;
	padding: 5px;
}

#email{
	color: red;
	margin-bottom: 0;
}

form p{
	margin-top: 0;
	font-size: smaller;
	color: red;
}

button{
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 10px;
}

.status p{
	padding-left: 20px;
}

.circle{
	border: 2px solid black;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	left: 70px;
}

.circle p{
	text-align: center;
	padding-left: 0;
	margin-bottom: 0;
	position: relative;
	top: 15%;
}

.status ul{
	padding-left: 0;
	background-color: rgb(225, 222, 222);
	border-radius: 20px;
	padding: 20px;
	height: 100%;
}

.status li{
	list-style-type: none;
	margin-left: 0;
}

.finished{
	color: grey;
}